.container {
    height: 50vh;
    width: 50vw;
    background-color: gainsboro;
    padding: 10px;
}

.profile_pic {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    background-color: yellow;
}

#mentor_list {
    float: right;
}

#wrapper {
    display: flex;
    flex-direction: row;
}
